# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Pytest
.pytest_cache/

# Alembic
*.db

# Node
node_modules/

# Vite
dist/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db